/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

* {
  font-family: 'Poppins', sans-serif !important;
}

:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

button {
  background: #FB6437;
  color: white;
  border-radius: 25px;
  height: 50px;
  text-align: center;
  border: none;
  letter-spacing: 0;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #fc3b00;
}

input,
textarea {
  color: #6E6E6E;
  padding: 5px 15px;
  font-size: 15px;
}

ul {
  list-style: none !important;
  color: #000;
}

ul:last-child {
  margin-bottom: 0;
}

ul>li {
  font-size: 20px;
  line-height: 40px;
}

ul>li>a {
  color: #000;
}

html,
body,
.page-wrapper {
  height: 100%;
}

.full-height {
  height: 100%;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.content {
  margin-left: 80px !important;
}

@media (max-width: 653px) {
  html {
    min-width: 100% !important;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	NAVBAR
/*-----------------------------------------------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F9FCFF;
  z-index: 1000;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.navbar-nav {
  background-color: #F9FCFF;
}

.navbar-brand {
  width: 150px;
}

.nav-link {
  color: #508EFC !important;
  font-weight: 300;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:first-child {
  margin-right: 25px !important;
}

.subscribeButton {
  width: 148px;
  font-weight: 300;
  margin-left: -2px;
  margin-right: 24px;
}

.loginButton {
  width: 120px;
  margin-left: 16px;
  font-weight: 300;
  background-color: #13BF68 !important;
}

/*-----------------------------------------------------------------------------------*/
/*	SECTIONS
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	FIRST SECTION
/*-----------------------------------------------------------------------------------*/

#first {
  background-color: #fff;
  background-image: url('../images/first.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-blend-mode: multiply;
  color: #fff;
  overflow: hidden;
}

#first h1 {
  color: #508EFC;
  font-size: 45px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 60px;
}

#first h2 {
  color: #508EFC;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -2px;
}

#first p {
  font-weight: 400;
  color: #6E6E6E;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 36px;
  width: 600px !important;
}

.block-one {
  margin-bottom: 94px;
  margin-top: 104px;
  padding-top: 40px;
}

.block-one button {
  width: 315px;
  font-weight: 500;
}

.img-conform-block-one {
  max-width: 557px !important;
  max-height: auto !important;
  width: auto;
  height: auto;
}

@media (max-width: 653px) {

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .block-one {
    text-align: center !important;
    margin-bottom: 61px !important;
  }

  #first h1 {
    text-align: center !important;
    font-size: 24px !important;
    line-height: 33px;
    margin-top: 60px !important;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
  }

  #first p {
    text-align: center !important;
    font-size: 15px !important;
    line-height: 20px;
    width: auto !important;
    margin-bottom: 20px !important;
    margin-left: 0px !important;
  }

  .block-one button {
    text-align: center !important;
    width: 300px !important;
    margin-bottom: 48px !important;
    margin-left: 0px !important;
  }

  .img-conform-block-one {
    text-align: center;
    max-width: 67% !important;
    max-height: auto !important;
    width: auto;
    height: auto;
    margin-top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	SECOND SECTION
/*-----------------------------------------------------------------------------------*/

.block-two {
  margin-bottom: 125px;
}

.block-two h1 {
  font-weight: 700;
  font-size: 35px;
  color: #4A86FA;
  margin-bottom: 30px;
  text-align: left;
  line-height: 50px;
}

.block-two h2 {
  font-weight: 600;
  color: #4A86FA;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: left;
  line-height: 30px;
}

.block-two p {
  font-weight: 400;
  color: #6E6E6E;
  font-size: 20px;
  margin-left: 19px;
  text-align: left;
  line-height: 30px;
}

.list-circle {
  display: block;
  max-height: 88px;
  min-width: 88px;
  background-color: #F3F7FC;
  border-radius: 50%;
  display: inline-block;
  align-content: center;
  align-items: center;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  line-height: 88px;
}

.img-conform-block-two {
  max-width: 450px !important;
  width: auto;
  height: auto;
}

@media (max-width: 653px) {

  .block-two {
    margin-bottom: 0px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .row-mobile {
    display: block !important;
    margin: 0 !important;
  }

  .block-two h1 {
    text-align: center !important;
    font-size: 24px !important;
    line-height: 33px;
    margin-bottom: 61px !important;
  }

  .block-two h2 {
    text-align: center !important;
    width: 100% !important;
    margin-bottom: 19px !important;
  }

  .block-two p {
    font-size: 15px !important;
    text-align: center !important;
    line-height: 25px !important;
    margin-bottom: 52px !important;
    margin-left: 0px;
  }

  .block-two p:last-child {
    margin-bottom: 61px !important;
  }

  .img-conform-block-two {
    max-width: 100% !important;
    margin-right: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}


@media (min-width:1211px) {
  .block-two h2 {
    margin-left: 19px;
  }

  .block-two li {
    height: 88px;
    margin-bottom: 64px;
    width: 100%;
    flex-wrap: nowrap;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	THIRD SECTION
/*-----------------------------------------------------------------------------------*/

.block-three {
  width: 100%;
  margin-bottom: 10px;
}

.block-three h1 {
  font-size: 35px;
  color: #4A86FA;
  font-weight: 700;
  margin-right: 22px;
  text-align: left;
  line-height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-three p {
  font-weight: 400;
  color: #6E6E6E;
  font-size: 20px;
  margin-left: 22px;
  text-align: left;
  line-height: 30px;
  margin-top: 25px;
}

.block-three button {
  width: 189px;
  margin-left: 22px;
  font-weight: 500;
}

.vertical-line {
  border-left: 1px solid #707070;
  flex: 1;
}

@media (max-width: 653px) {
  .block-three {
    margin-bottom: 31px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .block-three h1 {
    text-align: center !important;
    font-size: 24px !important;
    line-height: 31px !important;
    margin-right: 0px !important;
    margin-top: 26px !important;
    margin-left: 0px;
  }

  .block-three p {
    font-size: 15px !important;
    text-align: center !important;
    margin-left: 0px !important;
  }

  .vertical-line {
    height: 100% !important;
    border-left: 0px !important;
    text-align: center !important;
  }

  .block-three button {
    margin-left: 0px !important;
  }

  .startNow {
    margin-left: calc(50% - 100px) !important;
    width: 250px;
  }

}

/*-----------------------------------------------------------------------------------*/
/*	FOURTH SECTION
/*-----------------------------------------------------------------------------------*/

.block-four {
  /* background-color: #fff; */
  /* background-image: url('../images/blockFourBg.svg'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-blend-mode: multiply; */
  color: #fff;
  overflow: hidden;
  margin-bottom: 92px;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.block-four-header {
  margin-bottom: 72px;
}

.block-four-header p {
  margin-left: 0 !important;
}

.block-four-left {
  max-width: 607px;
}

.block-four h1 {
  font-size: 35px;
  line-height: 50px;
  color: #4A86FA;
  font-weight: 700;
  margin-right: 0px !important;
  text-align: left;
  margin-bottom: 15px;
}

.block-four p {
  font-weight: 400;
  color: #6E6E6E;
  font-size: 20px;
  text-align: left;
  margin-left: 28px;
  line-height: 30px;
}

.block-four h2 {
  font-weight: 700;
  color: #4A86FA;
  font-size: 20px;
  margin-left: 28px;
  margin-bottom: 8px;
  text-align: left;
  line-height: 30px;
}

.block-four h3 {
  font-weight: 700;
  color: #4A86FA;
  font-size: 81px;
  line-height: 136px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  max-width: 617px !important;
  text-align: left;
}

.block-four h4 {
  font-weight: 600;
  color: #4A86FA;
  font-size: 30px;
  line-height: 46px;
  max-width: 710px !important;
  text-align: left;
  text-align: center;
}

.block-four ul {
  padding-inline-start: 0px;
  margin-bottom: 27px;
  margin-left: 24px;
}

.block-four button {
  width: 174px;
  font-weight: 500;
}

.block-four-subscribe {
  margin-left: 130px;
  padding: 0;
}

.store-button {
  width: 300px !important;
  font-weight: 500;
  margin-right: 66px;
}

.store-button:last-child {
  margin-right: 0px !important;
}

.google-icon {
  width: 26px;
  height: 26px;
  margin-left: 16px;
  margin-right: 10px;
}

.apple-icon {
  width: 24px;
  height: 22px;
  margin-left: 16px;
  margin-right: 10px;
}

.img-conform-block-four {
  animation: rotateLeft 1s ease forwards;
  max-width: 651px;
  max-height: auto !important;
  width: auto;
  height: auto;
  margin-top: -48px;
}

.block-four-footer {
  margin-top: 163px;
}

.otto-face {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  margin-left: 60px;
}

.phones-group {
  position: relative;
  flex: 1;
  height: 660px;
}

.abs-pos {
  position: absolute;
  width: 330px;
}

.back-phone {
  top: -15%;
  left: 25%;
  transform-origin: 50% 100%;
}

.front-phone {
  top: 0;
  left: 35%;
  transform-origin: 50% 100%;
}

.fourth_left-column {
  width: 500px;
}

@media (max-width: 653px) {
  .fourth_left-column {
    width: 100%;
  }

  .abs-pos {
    width: 200px;
  }

  .phones-group {
    top: 100px;
  }

  .back-phone {
    top: 0;
    left: 15%;
  }

  .front-phone {
    top: 0;
    left: 25%;
  }

  .block-four {
    text-align: center !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .block-four h1 {
    text-align: center !important;
    font-size: 20px !important;
    line-height: 33px !important;
    margin-bottom: 17px !important;
    margin-left: 0px;
  }

  hr {
    margin-top: 34px !important;
    margin-bottom: 44px !important;
  }

  .block-four ul {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
  }

  .block-four-item-mb {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .block-four p {
    font-size: 15px !important;
    line-height: 25px !important;
    text-align: center !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 37px !important;
  }

  .block-four h2 {
    text-align: center !important;
    margin-left: 0px !important;
    margin-bottom: 7px !important;
  }

  .block-four h3 {
    text-align: center !important;
    margin-left: 0px !important;
    font-size: 50px !important;
    line-height: 78px !important;
    padding-left: auto !important;
  }

  .block-four h4 {
    text-align: center !important;
    font-size: 15px !important;
    line-height: 23px !important;
    color: #6E6E6E !important;
    font-weight: 400 !important;
  }

  .block-four button {
    width: 185px;
    font-weight: 500;
    margin-bottom: 52px !important;
  }

  .block-four-subscribe {
    margin-left: 0px;
  }

  .store-button {
    width: 90% !important;
    margin-right: 0px !important;
    font-size: 15px !important;
    line-height: 35px !important;
    font-weight: 500px !important;
  }

  .block-four-header {
    margin-bottom: 0px !important;
    padding: 10px !important;
  }

  .img-conform-block-four {
    max-width: 85% !important;
    margin-top: 0px !important;
  }

  .otto-face {
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0px !important;
  }
}

@media (min-width: 1024px) {
  .block-four h3 {
    margin-left: -24px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 1300px) {
  .block-four-subscribe {
    margin-left: 130px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	FIFTH SECTION
/*-----------------------------------------------------------------------------------*/

.block-five {
  text-align: center;
  margin-bottom: 150px;
}

@media (min-width: 1024px) {
  .block-five-mt {
    margin-top: 0px !important;
  }
}

@media (max-width: 653px) {

  .block-five h1 {
    font-size: 25px !important;
    line-height: 38px !important;
  }

  .block-five p {
    font-size: 15px !important;
    line-height: 23px !important;
  }

  .plans {
    padding-left: 0px !important;
  }
}

.block-five h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  color: #4A86FA;
}

.block-five h3 {
  font-size: 20px;
  line-height: 60px;
  font-weight: 500;
  color: #6E6E6E;
}

.block-five p {
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  color: #2E2E2E;
  margin-bottom: 79px;
}

.block-five img {
  width: 200px;
  margin-top: 235px;
}

.plans {
  position: relative;
  align-items: flex-start;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.plan-box {
  min-height: 350px;
  max-width: 350px;
  background: #FFF;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #B7B7B7;
  border-radius: 27px;
  padding: 0 !important;
  text-align: center;
}

.plan-box p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  color: #6E6E6E;
  margin-bottom: 0px !important;
  padding: 8px;
}

.plan-box button {
  width: 55%;
  font-weight: 500;
  font-size: 17px !important;
}

.plan-box ul {
  padding: 30px;
}

.plan-box li:not(:last-child) {
  margin-bottom: 24px !important;
}

.plan-box img {
  max-height: 44px !important;
  max-width: 44px !important;
  margin-top: 0px !important;
}

.plan-box-header {
  width: 100%;
  background: #474ada;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.plan-box-header h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

.plan-box-price h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #3a3a3a;
}

.plan-box-price h4 {
  color: #5a5a5a;
  font-weight: 500;
}

.smaller {
  font-size: 1rem;
}

@media (max-width: 653px) {
  ul {
    padding: 0 20px;
  }

  .plans {
    width: 100%;
  }

  .plan-box-mb {
    margin-bottom: 50px !important;
    margin-left: auto;
    margin-right: auto !important;
  }

  .plan-box:first-child {
    margin-right: 0px;
  }

  .plan-box li {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 24px !important;
  }

  .plan-box img {
    margin-left: 0px;
    margin-right: 0px;
  }

  .plan-box button {
    margin: 0 auto;
  }

  .gallery.js-flickity.is-draggable,
  #instagram-photos-mobile {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .plan-box-mb {
    margin-bottom: 0px !important;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	SIXTH SECTION
/*-----------------------------------------------------------------------------------*/

.block-six {
  text-align: center;
  margin-bottom: 78px;
}

.block-six h1 {
  color: #4A86FA;
  font-size: 35px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 43px;
  text-align: center;
}

.testimony-box {
  background: #FFF;
  border: 1px solid #B5B5B5;
  border-radius: 22px;
  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 24px;
  padding-right: 40px;
  width: 90%;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 30px !important;
}

.testimony-box h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2E2E2E;
  text-align: left;
  margin-bottom: 0px !important;
}

.testimony-box p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #6E6E6E;
  text-align: left;
  padding-left: 0px !important;
}

.testimony-box-circle {
  margin-top: 12px;
  max-width: 113px;
  max-height: 115px;
  margin-right: 25px;
}

.stars img {
  width: 24px;
  height: 23px;
}

.stars {
  display: inline !important;
  margin-left: 0px !important;
  margin-right: 20px;
  padding-left: 12px;
}

@media (max-width: 653px) {
  .block-six {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .testimony-box-mb {
    margin-bottom: 50px !important;
    padding-left: 21px;
    padding-right: 27px;
    padding-top: 15px;
  }

  .testimony-box {
    margin-right: 0px;
  }

  .testimony-box h2 {
    font-size: 15px !important;
    line-height: 23px !important;
  }

  .testimony-box p {
    font-size: 15px !important;
    line-height: 23px !important;
  }

  .testimony-box-circle {
    width: 88px !important;
    height: 88px !important;
  }

  .block-six h1 {
    font-size: 25px;
    line-height: 38px;
  }
}

@media (min-width: 1024px) {

  .testimony-box {
    margin-right: 52px;
  }

  .testimony-box:last-child {
    margin-right: 0px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	SEVENTH SECTION
/*-----------------------------------------------------------------------------------*/

.accordion .btn.btn-link {
  white-space: normal;
  text-align: left;
}

#accordionFaq {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#seventh {
  background-color: transparent;
  width: 60%;
  margin: 0 auto;
}

#seventh h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 68px;
  color: #4A86FA;
  margin-bottom: 59px;
}

.card {
  margin-bottom: 38px;
  border: 0;
  /* background-color: #F3F7FC; */
  border-radius: 27px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  box-shadow: none;
}

.card-item {
  padding: 0 !important;
  margin: 0 !important;
  text-align: left;
}

.card-header {
  padding: 0 .6rem 0 1.5rem;
  margin-bottom: 0;
  height: 58px;
  text-align: left;
  border-bottom: 0;
  background-color: #F3F7FC;
  box-shadow: none;
}

.card-header h5 {
  width: 100%;
  text-align: left;
}

.card-header .btn:after {
  content: '\002B';
  color: #24246E;
  font-size: 20px;
  font-weight: 600;
  line-height: 58px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 0;
}

.card-body {
  margin-left: 10px;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}

.card .btn-link {
  color: #24246E;
  font-size: 20px;
  font-weight: 600;
  line-height: 58px;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  text-align: left;
  outline: none;
}

@media (max-width: 653px) {
  #seventh {
    width: 100%;
    padding-right: 0% !important;
    padding-left: 0% !important;
  }

  #seventh h1 {
    font-size: 28px !important;
    line-height: 38px !important;
    margin-bottom: 59px !important;
  }

  .card .btn-link {
    height: auto;
    font-size: 15px !important;
    line-height: 58px !important;
  }

  .card-header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
  }

  .card-body {
    margin-left: 21px !important;
    font-size: 15px;
    text-align: left !important;
  }

  .card-item p {
    white-space: break-spaces;
    line-height: 1.5;
    margin: 0;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	EIGHTH SECTION
/*-----------------------------------------------------------------------------------*/

.block-eight h1 {
  color: #4A86FA;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-bottom: 53px;
}

.block-eight .img {
  width: 100%;
  height: 268px;
  border: 1px solid #B5B5B5;
  border-radius: 22px;
  margin-bottom: 22px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-eight h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #2E2E2E;
  margin-bottom: 20px;
}

.block-eight p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #787878;
}

@media (max-width: 653px) {

  .article {
    margin-left: 0px !important;
    text-align: center !important;
  }

  .block-eight {
    margin-right: 8px !important;
    padding: 0 40px !important;
  }

  .block-eight h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .block-eight h2 {
    text-align: center !important;
  }

  .block-eight p {
    text-align: center !important;
  }

  .block-eight img {
    max-width: 100% !important;
  }

}

/*-----------------------------------------------------------------------------------*/
/*	NINETH SECTION
/*-----------------------------------------------------------------------------------*/

#nineth {
  margin-top: 3rem;
}

.block-nine h1 {
  color: #4A86FA;
  font-weight: 700;
  line-height: 60px;
  font-size: 35px;
  margin-bottom: 80px;
  text-align: left;
  padding-left: 0.75rem !important;
  margin-left: 60px;
  margin-top: 40px;
}

.block-nine a {
  color: #4A86FA !important;
}

.instagram-box>p,
.instagram-box>p>a {
  font-size: 35px;
  font-weight: bold;
  color: #4A86FA;
}

.instagram-cell {
  width: 190px !important;
  height: 185px;
  margin-right: 10px;
  padding: 0px !important;
  flex-basis: 190px !important;
  flex-grow: 0 !important;
}

.instagram-img {
  width: 190px;
  height: 185px;
}

.instagram-section {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.instagram-cell:last-child {
  margin-right: 10px !important;
}

.pictures-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.picture {
  height: 200px;
  width: 200px;
  margin-right: 10px;
}

.pictures:last-child {
  margin: 0;
}

#contact-form {
  margin: 60px 0;
  text-align: center;
  color: #6E6E6E;
}

#contact-form h1 {
  color: #4A86FA;
  font-weight: 700;
  line-height: 60px;
  font-size: 35px;
  margin-bottom: 80px;
  text-align: center;
  margin-left: 0px !important;
}

#contact-form>div {
  margin-bottom: 50px;
  position: relative;
}

#contact-form>div label {
  position: absolute;
  top: -35px;
  padding-left: 10px;
}

#contact-form input,
#contact-form textarea {
  border: 1px solid #6E6E6E;
  padding: 10px 15px;
  width: 400px;
}

#contact-form input {
  border-radius: 24px;
}

#contact-form textarea {
  border-radius: 12px;
}

#contact-form button {
  font-size: 15px;
  width: 137px;
}

.contact-button {
  height: 20px;
  width: 400px;
  text-align: right !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 653px) {

  .block-nine h1 {
    line-height: 30px !important;
    font-size: 25px !important;
    padding-left: 0 !important;
    margin-left: 12px !important;
  }

  #contact-form {
    padding-right: 29px;
    padding-left: 29px;
  }

  #contact-form input,
  #contact-form textarea {
    width: 100% !important;
  }

  #contact-form button {
    width: 127px !important;
    font-size: 15px;
    margin-left: 0px !important;
  }

  .contact-button-mobile {
    width: 100%;
    text-align: right !important;
  }

  .section.form::after {
    display: none;
  }

}

/*** ILUSTRAÇÃO INFERIOR ***/

.section.form {
  background: transparent url('../images/forma-2.svg') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.section.form::before {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section.form::before {
  background: transparent url('../images/city.svg') no-repeat;
  background-size: auto;
  background-position-x: center;
  background-position-y: bottom;
}

.otto-balloon {
  position: absolute;
  right: 80px;
  top: 150px;
  width: 100px;
  height: 110px;
  z-index: 10;
}

/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/

footer {
  background: #4A86FA !important;
  padding-bottom: 2em !important;
}

footer p {
  margin-top: 93px;
  font-size: 12px !important;
  line-height: 12px;
}

footer h2 {
  margin-bottom: 24px;
}

.social-media {
  margin-bottom: 45px !important;
}

.social-media a {
  margin-right: 18px;
}

.social-media a:last-child {
  margin-right: 0px;
}

.links a {
  margin-right: 17px;
}

.links a:last-child {
  margin-right: 0px;
}

#footer {
  text-align: center;
}

#footer * {
  color: white;
}

#footer>.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

footer img {
  width: 150px;
  margin-bottom: 47px;
}

@media screen and (max-width: 653px) {
  button.navbar-toggler {
    border: none;
  }

  .no-display {
    display: none;
  }

  .footer {
    text-align: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  footer img {
    margin-bottom: 18px !important;
  }

  .social-media {
    margin-bottom: 18px !important;
  }

  footer p {
    margin-top: 50px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	CAROUSEL
/*-----------------------------------------------------------------------------------*/

.gallery-cell {
  width: 69%;
  height: 359px !important;
  margin-right: 20px;
}

.gallery-cell:last-child {
  margin-right: 20px !important;
}

.gallery p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: #6E6E6E;
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px) {
  .hoc {
    max-width: 1140px;
  }
}

@media screen and (min-width:978px) and (max-width:1140px) {
  .hoc {
    max-width: 95%;
  }
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px) {
  .hoc {
    max-width: 90%;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

#fourth {
  margin-top: 68px;
}

.startNow {
  margin-left: 50%;
  width: 210px;
}

.col-left {
  width: 470px;
  padding-top: 30px;
}

#app {
  background-image: url(../images/blockFourBg.svg);
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: contain;
  background-blend-mode: multiply;
  background-color: #fff;
}

.coins {
  position: absolute;
  right: -20px;
  bottom: 0;
}

#accordionFaq .collapse .card-body {
  background-color: white;
  box-shadow: unset;
}

.block-5-img {
  position: absolute;
  right: -160px;
  bottom: 0;
  height: 200px;
}

.card-header:first-child {
  border-radius: 50px;
}

.btn-link:hover {
  text-decoration: none;
}

html {
  overflow-x: unset;
  overflow-y: unset;
}

#eighth {
  margin-top: 100px;
}

.block-eight {
  padding: 0 80px;
}

.block-eight a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #2E2E2E;
  margin-top: 10px;
}

.is-loading {
  margin: 20px auto;
}

.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 4px solid rgba(13, 85, 217, 0.8);
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 2rem;
  position: relative;
  width: 2rem;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 80%;
  position: absolute !important;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(359deg)
  }
}

div#gb-widget-8717 a[type=link] {
  display: none;
}

/*** ANIMATIONS ***/

.smartdemo {
  position: relative;
  width: 450px;
  margin-top: 40px;
}

@media screen and (max-width:978px) {
  .smartdemo {
    width: 100%;
  }
}

.lazy {
  transition: all 1s ease;
}

#chatPhone {
  opacity: 0;
  transform: translateY(20px);
}
  #chatPhone.entered {
    opacity: 1;
    transform: translateY(0);
  }

#chatOtto,
#chatUser {
  position: absolute;
  top: 0;
  z-index: 100;
}

#chatOtto {
  opacity: 0;
  transform: translateY(0);
  width: 60%;
}
  #chatOtto.entered {
    transform: translateY(30px);
    transition-delay: 1s;
    opacity: 1;
  }

#chatUser {
  left: 75px;
  opacity: 0;
  transform: translateY(75px);
  width: 50%;
}
  #chatUser.entered {
    transform: translateY(105px);
    transition-delay: 2s;
    opacity: 1;
  }

#backPhone {
  transform: rotateZ(0);
  opacity: 0;
}
  #backPhone.entered {
    transform: rotateZ(-10deg);
    transition-delay: 1s;
    opacity: 1;
  }

#frontPhone {
  transform: rotateZ(0);
  opacity: 0;
}
  #frontPhone.entered {
    transform: rotateZ(10deg);
    transition-delay: 1s;
    opacity: 1;
  }

.otto-balloon img {
  opacity: 0;
  transform: translateY(-30px);
}
  .otto-balloon img.entered {
    transform: translateY(0);
    transition-delay: 1s;
    opacity: 1;
  }